{"filter":false,"title":"pi_robot_v2.urdf","tooltip":"/pi_robot_v2.urdf","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":7041,"scrollleft":0,"selection":{"start":{"row":597,"column":37},"end":{"row":597,"column":44},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":585,"state":"start","mode":"ace/mode/text"}},"timestamp":1530476254000,"hash":"7d79ed209357d680d17543fcca16704b1d9fa69a"}